<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is the Dashboard Page</h1>
    <h2>Welcome to the dashboard page!</h2>
    <h3>This website name is {{website_name}}</h3>
    <img src="{% static 'Techsnap logo black.png' %}" width="200" height="200" alt="techsnap logo">

    <h3>This is made my {{developer_name}}</h3>
    <h4>age if this website is {{website_age}} years</h4>
    
</body>
</html>